@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  /* Colors */
  --clr-light-red: hsl(0, 100%, 67%);
  --clr-orangey-yellow: hsl(39, 100%, 56%);
  --clr-green-teal: hsl(166, 100%, 37%);
  --clr-cobalt-blue: hsl(234, 85%, 45%);
  --clr-light-slate-blue: hsl(252, 100%, 67%);
  --clr-light-royal-blue: hsl(241, 81%, 54%);
  --clr-violet-blue: hsla(256, 72%, 46%, 1);
  --clr-persian-blue: hsla(241, 72%, 46%, 0); 
  --clr-white: hsl(0, 0%, 100%);
  --clr-pale-blue: hsl(221, 100%, 96%);
  --clr-light-lavender: hsl(241, 100%, 89%);
  --clr-dark-gray-blue: hsl(224, 30%, 27%);
  --clr-vivid-blue: hsl(246, 99%, 72%);

  /* Typography */
  --ff-hanken-grotesk: "Hanken Grotesk", sans-serif;

  --fs-body: 1.125rem;

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

/* Main Content */
body {
  font-family: var(--ff-hanken-grotesk);
  font-weight: var(--fw-medium);
  font-size: var(--fs-body);
  line-height: 1.5;
  color: var(--clr-light-lavender);
  background-color: var(--clr-pale-blue);
  min-block-size: 100vh;
  @media(min-width: 48em) {
    place-content: center;
  }
}

.wrapper {
  max-inline-size: 30rem;
  margin-inline: auto;
  background-color: var(--clr-white);
  display: grid;
  @media(min-width: 48em) {
    max-inline-size: 46rem;
    grid-template-columns: 1fr 1fr;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
}

.result-section {
  background: linear-gradient(var(--clr-light-slate-blue), var(--clr-light-royal-blue));
  padding-inline: 1rem;
  padding-block: 1.625rem 2.25rem;
  text-align: center;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  @media (min-width: 48em) {
    padding-block: 2.625rem 3.25rem;
    border-radius: 2rem;
  }
}

.result-title {
  font-size: 1.25rem;
  font-weight: var(--fw-bold);
  margin-block-end: 1.5rem;
  @media(min-width: 48em) {
    font-size: 1.5rem;
    margin-block-end: 2.25rem;
  }
}

.result-score {
  max-width: 8.875rem;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(var(--clr-violet-blue), var(--clr-persian-blue));
  place-content: center;
  margin-inline: auto;
  margin-block-end: 1.75rem;
}

.result-score span:first-child {
  font-size: 2.75rem;
  font-weight: var(--fw-extra-bold);
  color: var(--clr-white);
}

.result-score span:last-child {
  font-weight: var(--fw-bold);
  color: var(--clr-vivid-blue);
}

.result-grade {
  font-size: 1.375rem;
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  margin-block-end: .5rem;
  @media(min-width: 48em) {
    font-size: 2rem;
    margin-block-end: 1.5rem;
  }
}

.result-description {
  font-size: 1rem;
  margin-inline: auto;
  max-width: 32ch;
  @media(min-width: 48em) {
    max-width: 24ch;
  }
}

.summary-section {
  padding-inline: 2rem;
  padding-block: 1.625rem;
  @media(min-width: 48em) {
    padding-block: 2.625rem;
  }
}

.summary-title {
  font-size: 1.25rem;
  color: var(--clr-dark-gray-blue);
  margin-block-end: 1rem;
  font-weight: var(--fw-extra-bold);
  @media(min-width: 48em) {
    font-size: 1.5rem;
  }
}

.summary-category-item {
  display: flex;
  gap: .75rem;
  align-items: center;
  flex-wrap: wrap;
  padding: .875rem;
  border-radius: .5rem;
}

.summary-category-item:not(:last-child) {
  margin-block-end: 1rem;
}

.summary-category-score {
  margin-inline-start: auto;
  color: hsla(224, 30%, 27%, 0.5);
  font-weight: var(--fw-bold);
}

.summary-category-score span:first-child {
  color: var(--clr-dark-gray-blue);
  margin-inline-end: .5rem;
}

.summary-category-list {
  margin-block-end: 1.5rem;
}

.button {
  cursor: pointer;
  width: 100%;
  background-color: var(--clr-dark-gray-blue);
  color: var(--clr-white);
  padding-block: .875rem;
  border: 0;
  border-radius: 100vmax;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: linear-gradient(var(--clr-light-slate-blue), var(--clr-light-royal-blue));
}

.button:focus-visible {
  outline: .125rem solid var(--clr-dark-gray-blue);
  outline-offset: .125rem;
}

